nodes/flows.json
[
    {
        "id": "a8f99fcc.d49a8",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "f03e8c3f.e7798",
        "type": "subflow",
        "name": "forms list telegram msg",
        "info": "",
        "in": [
            {
                "x": 94,
                "y": 198,
                "wires": [
                    {
                        "id": "7b06de6a.89342"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 786,
                "y": 239,
                "wires": [
                    {
                        "id": "20ae1df.d43fce2",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "372fca6f.d9f4d6",
        "type": "subflow",
        "name": "msg logging",
        "info": "",
        "in": [
            {
                "x": 81,
                "y": 230,
                "wires": [
                    {
                        "id": "cc812944.228518"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "a0e9d61.306aa28",
        "type": "chatbot-telegram-node",
        "z": "",
        "botname": "fhformsbot",
        "usernames": "",
        "polling": "1000",
        "log": ""
    },
    {
        "id": "56404682.149a68",
        "type": "chatbot-telegram-receive",
        "z": "a8f99fcc.d49a8",
        "bot": "a0e9d61.306aa28",
        "x": 137,
        "y": 233,
        "wires": [
            [
                "bee86643.788788",
                "30265a3b.1842c6"
            ]
        ]
    },
    {
        "id": "ef93c8a3.d6ff98",
        "type": "chatbot-telegram-send",
        "z": "a8f99fcc.d49a8",
        "bot": "a0e9d61.306aa28",
        "track": false,
        "outputs": 0,
        "x": 1054,
        "y": 190,
        "wires": []
    },
    {
        "id": "20ae1df.d43fce2",
        "type": "chatbot-message",
        "z": "f03e8c3f.e7798",
        "name": "passthrough",
        "message": [],
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 650,
        "y": 225,
        "wires": [
            []
        ]
    },
    {
        "id": "bee86643.788788",
        "type": "chatbot-message",
        "z": "a8f99fcc.d49a8",
        "name": "fetching...",
        "message": [
            {
                "message": "Hello {{firstName}}, fetching forms for you..."
            }
        ],
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 563,
        "y": 230,
        "wires": [
            [
                "b72528a6.bf7278",
                "ef93c8a3.d6ff98"
            ]
        ]
    },
    {
        "id": "7b06de6a.89342",
        "type": "fh-forms-list",
        "z": "f03e8c3f.e7798",
        "name": "",
        "x": 244,
        "y": 209,
        "wires": [
            [
                "88663872.166938"
            ]
        ]
    },
    {
        "id": "88663872.166938",
        "type": "template",
        "z": "f03e8c3f.e7798",
        "name": "format forms",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{#payload}}\nThese are the forms\n{{#forms}}\n[{{_id}}](http://testing.mogrodni.skunkhenry.com/#forms/forms/{{_id}}): {{name}}\n{{/forms}}\n{{/payload}}",
        "x": 446,
        "y": 225,
        "wires": [
            [
                "20ae1df.d43fce2"
            ]
        ]
    },
    {
        "id": "a135c3c4.1a1b3",
        "type": "debug",
        "z": "372fca6f.d9f4d6",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 436,
        "y": 227,
        "wires": []
    },
    {
        "id": "39c8c455.61329c",
        "type": "subflow:f03e8c3f.e7798",
        "z": "a8f99fcc.d49a8",
        "name": "",
        "x": 701.5,
        "y": 319,
        "wires": [
            [
                "ef93c8a3.d6ff98",
                "b72528a6.bf7278"
            ]
        ]
    },
    {
        "id": "c327927c.dc751",
        "type": "catch",
        "z": "f03e8c3f.e7798",
        "name": "list err",
        "scope": [
            "7b06de6a.89342"
        ],
        "x": 240,
        "y": 315,
        "wires": [
            [
                "3cdefd2b.11ff22"
            ]
        ]
    },
    {
        "id": "3cdefd2b.11ff22",
        "type": "template",
        "z": "f03e8c3f.e7798",
        "name": "err tpl",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "List error: {{error.message}}",
        "x": 449,
        "y": 297,
        "wires": [
            [
                "20ae1df.d43fce2"
            ]
        ]
    },
    {
        "id": "933ed4be.cf9148",
        "type": "delay",
        "z": "a8f99fcc.d49a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 493,
        "y": 320,
        "wires": [
            [
                "39c8c455.61329c"
            ]
        ]
    },
    {
        "id": "c3775d52.d248d",
        "type": "chatbot-waiting",
        "z": "a8f99fcc.d49a8",
        "waitingType": "",
        "x": 339,
        "y": 318,
        "wires": [
            [
                "933ed4be.cf9148"
            ]
        ]
    },
    {
        "id": "b72528a6.bf7278",
        "type": "subflow:372fca6f.d9f4d6",
        "z": "a8f99fcc.d49a8",
        "name": "",
        "x": 1049,
        "y": 358,
        "wires": []
    },
    {
        "id": "cc812944.228518",
        "type": "function",
        "z": "372fca6f.d9f4d6",
        "name": "global msg counter",
        "func": "var count = global.get(\"msgCount\") || 0;\nglobal.set(\"msgCount\", ++count);\nreturn {payload: count};",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 230,
        "wires": [
            [
                "a135c3c4.1a1b3"
            ]
        ]
    },
    {
        "id": "5ad6716e.4e29e",
        "type": "http in",
        "z": "a8f99fcc.d49a8",
        "name": "",
        "url": "/msg",
        "method": "get",
        "swaggerDoc": "",
        "x": 111,
        "y": 83,
        "wires": [
            [
                "7d6e5132.cf924"
            ]
        ]
    },
    {
        "id": "d4fa38b8.1ccf48",
        "type": "http response",
        "z": "a8f99fcc.d49a8",
        "name": "",
        "x": 484,
        "y": 83,
        "wires": []
    },
    {
        "id": "7d6e5132.cf924",
        "type": "template",
        "z": "a8f99fcc.d49a8",
        "name": "msgCount json",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"count\": {{global.msgCount}} }",
        "x": 303,
        "y": 83,
        "wires": [
            [
                "d4fa38b8.1ccf48"
            ]
        ]
    },
    {
        "id": "30265a3b.1842c6",
        "type": "function",
        "z": "a8f99fcc.d49a8",
        "name": "rand",
        "func": "msg.rand = Math.random();\nif(msg.rand > 0.33) {\n    return [msg, null]\n} else {\n    return [null, msg]\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 193.5,
        "y": 358,
        "wires": [
            [
                "c3775d52.d248d"
            ],
            [
                "8519fdd2.d8266"
            ]
        ]
    },
    {
        "id": "546a902e.d27b9",
        "type": "chatbot-audio",
        "z": "a8f99fcc.d49a8",
        "name": "?",
        "filename": "src/public/astley.ogg",
        "track": false,
        "x": 689,
        "y": 437,
        "wires": [
            [
                "ef93c8a3.d6ff98",
                "b72528a6.bf7278"
            ]
        ]
    },
    {
        "id": "8519fdd2.d8266",
        "type": "chatbot-waiting",
        "z": "a8f99fcc.d49a8",
        "waitingType": "upload_audio",
        "x": 454.5,
        "y": 436,
        "wires": [
            [
                "546a902e.d27b9"
            ]
        ]
    }
]