red/flows_paolobueno-node-red-4624413.json
[{"id":"37f6d2f2.753f4e","type":"tab","label":"Flow 1"},{"id":"f3aa138d.0a5ef","type":"http in","z":"37f6d2f2.753f4e","name":"one","url":"/one","method":"post","swaggerDoc":"","x":213,"y":186,"wires":[["9eb3e0bc.0507"]]},{"id":"644e1805.50ae28","type":"http response","z":"37f6d2f2.753f4e","name":"echo","x":574,"y":181,"wires":[]},{"id":"9eb3e0bc.0507","type":"template","z":"37f6d2f2.753f4e","name":"test","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":436,"y":287,"wires":[["644e1805.50ae28"]]}]